@media all and (max-width: 1368px) {
    hr {
        max-width: 100%;
        width: 100%;
    }
}

@media all and (max-width: 1328px) {
    .bgheader {
        .col-xs-4 {
            padding: 0;
            img {
                height: 96px;
            }
        }
    }
}

@media all and (max-width: 1324px) {
    .title-row {
        margin: 10px auto 30px;
    }
}

@media all and (max-width: 1236px) {
    .padding-text-right {
        padding: 0 30px 0 0;
    }
    .padding-text-left {
        padding: 0 0 0 30px;
    }
    .title-row {
        margin: 5px auto;
    }
    .mb50px {
        margin-bottom: 5px;
    }
}

@media all and (max-width: 950px) {
    .paragraph-top {
        margin-top: 5px;
    }
}

@media all and (max-width: 890px) {
    .left-list,.right-list {
        ul {
            li:nth-child(n+3) {
                display: none;
            }
        }
    }
}

@media all and (max-width: 880px) {
    .bgheader {
        .col-xs-4 {
            img {
                height: 70px;
            }
        }
    }
}

@media all and (max-width: 848px) {
    .title-row {
        font-size: 30px;
    }
}


@media all and (max-width: 768px) {
    .bgheader {
        .col-xs-4 {
            img {
                height: 100px;
            }
        }
    }
    .padding-text-right,.padding-text-left {
        padding: 0 100px;
        margin-bottom: 30px;
    }
    .title-row {
        margin: 30px auto 30px;
        font-size: 45px;
    }
    .mb50px {
        margin-bottom: 50px;
    }
    .links {
        margin-bottom: 50px;
    }
    .paragraph-top {
        margin-top: 50px;
    }
    .left-list,.right-list {
        ul {
            li:nth-child(n+3) {
                display: list-item;
            }
        }
    }
}