html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	margin: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	font-family: 'ProximaNova-Light';
	color: $stdblack;
}

h1,h2,h3,h4,h5,h6,div,section,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

a {
	font-family: 'ProximaNova-Semibold';
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

hr {
	max-width: 80%;
    border-right: 0;
    border-top: 0;
    border-left: 0;
	border-bottom: 1px solid #494949;
	padding-top: 15px;
    clear: both;
}

.entry-header {
	display: none;
}

/* margin */
.margin-auto {
	margin: 0 auto;
}
.marginlr0 {
	margin-left: 0;
	margin-right: 0;
}
.mb2em {
	margin-bottom: 2em;
}
.mb6em {
	margin-bottom: 6em;
}
.mb50px {
	margin-bottom: 50px;
}
.mb200px {
	margin-bottom: 200px;
}
/* END margin */

/* padding */
.nopadding {
	padding: 0;
}
.padding-text-right {
	padding: 0 120px 0 85px;
}
/* END padding */
