@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src: url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff2') format('woff2'),
        url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
        url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
        url('./asserts/fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.eot');
    src: url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.woff2') format('woff2'),
        url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
        url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
        url('./asserts/fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 100;
    font-style: normal;
}

$stdblack: #000;
$stdwhite: #fff;
$gray999: #999;
$gray97: #979797;
$darkborder: #3f4046;
$actived: #ff2f92;
